.navigationHeader {
    display: flex;
    border: 3px solid brown;
    justify-content: space-between;
    align-items: center;
    height: min-content;
}

.navigation > a {
    display: flex;
    padding: 10px;
    gap: 10px;
    border: 3px solid;
    color: white;
    background-color: gray;
    flex-direction: row;
}

.navigation a {
    text-decoration: none;
}
.titleHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Main */

#mainSection {
    display: flex;
    flex-direction: row;
 
}

.review {
    flex-basis: 60%;
    flex-grow: 0;
}

.review img {
    max-width: 160%;
    max-height: 50%;
}

.messageUs {
    flex-basis: 10%;
    flex-grow: 0;
    background-color: brown;
    border-radius: 15px;
}

@media screen and (max-widht: 1000px) {
    
}